h1
{
    text-align : center;
    margin : 10px;
}
div section
{
border : 2px solid black;
background-color: lightgray;
margin: 10px;
}
div section header
{
float : right;
border: 2px solid black;
}
.head1
{
background-color: lightcoral;
font-weight: bold;
padding : 7px;
width : 150px;
text-align: center;
border-top: none;
border-right: none;

}
.head2
{
background-color: lightsalmon;
color : wheat;
font-weight: bold;
padding : 7px;
width : 150px;
text-align: center;
border-top: none;
border-right: none;
}
.head3
{
background-color: lightyellow;
font-weight: bold;
padding : 7px;
width : 150px;
text-align: center;
border-top: none;
border-right: none;
}
div.clear
{
    clear : both;
}